//- Author: Vitor Dino
//- Language: pug
//- Github: vitordino

- var n = 1;

while n < 100
	if(n % 15 == 0)
		div(index=n++) ðŸ•·
		
	if(n % 5 == 0)
		div(index=n++) ðŸ¦‡
		
	if(n % 3 == 0)
		div(index=n++) ðŸ±
		
	else
		div= n++
